## England NHS GP Reviews Dataset Exploration
source: https://huggingface.co/datasets/janduplessis886/england-nhs-gp-reviews/viewer/default/train

In [1]:
import pandas as pd

df = pd.read_csv('england-nhs-gp-reviews.csv')

df.head()

,ode,surgeryname,url,title,star_rating,comment,visited_date
0,E81050,asplands-medical-centre,https://www.nhs.uk/services/gp-surgery/aspland...,What's changed?,3,Have been with this practice for a number of y...,August 2022
1,E81050,asplands-medical-centre,https://www.nhs.uk/services/gp-surgery/aspland...,Woburn surgery,5,I have been a patient at this practice for man...,July 2022
2,E81050,asplands-medical-centre,https://www.nhs.uk/services/gp-surgery/aspland...,Don't waste your time GPs never available,1,"Visited my gp, over resistant hypertension. Gr...",June 2022
3,E81050,asplands-medical-centre,https://www.nhs.uk/services/gp-surgery/aspland...,Great practice,5,I contacted the surgery by telephone for a non...,June 2022
4,K82064,fishermead-medical-centre,https://www.nhs.uk/services/gp-surgery/fisherm...,Welcoming and supportive,5,I have great respect for the staff at Fisherme...,July 2023

In [2]:
df.shape

(61955, 7)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61955 entries, 0 to 61954
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ode           61955 non-null  object
 1   surgeryname   61955 non-null  object
 2   url           61955 non-null  object
 3   title         61955 non-null  object
 4   star_rating   61955 non-null  int64
 5   comment       61955 non-null  object
 6   visited_date  61955 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.3+ MB

In [4]:
df.describe()

        star_rating
count  61955.000000
mean       3.337632
std        1.795162
min        0.000000
25%        1.000000
50%        4.000000
75%        5.000000
max        5.000000

In [5]:
df.star_rating.describe()

count    61955.000000
mean         3.337632
std          1.795162
min          0.000000
25%          1.000000
50%          4.000000
75%          5.000000
max          5.000000
Name: star_rating, dtype: float64